.vscode/launch.json
output/Instructions.txt
output/game/_bz2.pyd
output/game/_ctypes.pyd
output/game/_decimal.pyd
output/game/_hashlib.pyd
output/game/_lzma.pyd
output/game/_socket.pyd
output/game/_ssl.pyd
output/game/base_library.zip
output/game/game.exe
output/game/libcrypto-1_1.dll
output/game/libffi-7.dll
output/game/libssl-1_1.dll
output/game/python310.dll
output/game/select.pyd
output/game/unicodedata.pyd
output/game/VCRUNTIME140.dll
output/game/sounds/endgame.wav
output/game/sounds/incorrect.wav
output/game/sounds/invalid.wav
output/game/sounds/lose.wav
output/game/sounds/startgame.wav
output/game/sounds/win.wav
